
li, h3, h1 {
  margin: 0;
  list-style: none;
  padding: none;
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  background-image: url('images/beach.jpg');
}

canvas {
  display: none;
}

#gameCanvas {
  background-image: url('images/sand.jpg');
}

#scoreCanvas {
  background-image: url('images/sand.jpg');
}

.game-canvas {
  border: 2px solid grey;
  width: 725px;
  display: block;
  float: left;
  position: relative;
}

.score-canvas {
  border: 2px solid grey;
  display: block;
  float: right;
  height: 120px;
  width: 200px;
}

.game-content {
  padding-top: 10px;
  width: 1000px;
  height: auto;
  margin: auto;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.links {
  height: 130px;
  width: 180px;
  display: block;
  float: right;
  padding: 30px 10px;
  text-align: center;
  margin-top: 20px;


}

.welcome {
  height: 270px;
  width: 200px;
  float: right;
  text-align: center;
  font-family: sans-serif;
}

.welcome h3 {
  font-size: 22px;
  color: white;
  transform: translateY(30px);
}

.welcome li {
  display: block;
  float: left;
  text-align: center;
}

.welcome img {
  left: -30px;
  transform: translateX(-70px);
  margin-top: 20px;
}

#reset {
  box-sizing: content-box;
height: 72px;
width: 200px;
color: white;
margin-top: 20px;
font-size: 30px;
float: right;
/* text-align: center; */
background: none;
border: none;
}

.plank-button{
  background-image: url('images/wood.png');
  transform: translate(70px, -81px);
  height: 100px;
  width: 200px;
  z-index: -1;
  position: relative;
}

h3 {

}

ul {
  padding: 5px;
}

li {
  padding: 5px;
}

a {
  font-style: none;
  font-size: 30px;
}
